<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <title>Current time</title>
    <link rel="stylesheet" href="<% if(hour > 6 && hour < 18){ %>css/day.css<% } else{ %>css/night.css<% } %>">
</head>
<body>
    This page was loaded at <%= time %>
</body>
</html>