body {
  font-family: "Lucida Sans", "Lucida Sans Unicode", "Helvetica", "Arial",
    sans-serif;
  background-color: white;
  color: #404040;
  font-size: 11pt;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-attachment: fixed;
  width: 100%;
  max-width: 980px;
  margin: 0;
  padding: 0;
}

.container {
  background-image: url("images/silverware.jpg");
}

a {
  color: #a4a400;
  text-decoration: none;
}

.heading {
  color: #a4a400;
  text-align: center;
  text-decoration: underline;
  font-size: 22pt;
  font-weight: bold;
  word-spacing: 0.25em;
}

span {
  background-color: #f0f0f0;
}

ul {
  padding-top: 10px;
  list-style-image: url("images/pie_bullet.png");
}

h3 {
  color: #a4a400;
  text-decoration: underline;
  font-size: 18pt;
  word-spacing: 0.25em;
}

.line-through {
  text-decoration: line-through;
}

.comments > p {
  background-color: #ffffa8;
  font-style: italic;
  margin-left: 30px;
  margin-right: 30px;
}

.validator {
  padding: 20px;
  text-align: right;
  font-family: monospace;
}
